@charset "utf-8";

.youTube {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youTube::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youTube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}