/* Base code from https://codepen.io/Schepp/pen/WNbQByE but I modified to my own needs */

@keyframes tonext {
    75% {
        left: 0;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

.carousel>ol,
.carousel>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 50%;
    filter: drop-shadow(0 0 15px #000000);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

li#carousel__slide1 {
    background: rgb(0, 0, 0) url('Images/nowlive.jpg') center center / cover no-repeat local content-box;
}

li#carousel__slide2 {
    background: rgb(0, 0, 0) url('Images/team.jpg') center center / cover no-repeat local content-box;
}

li#carousel__slide3 {
    background: rgb(0, 0, 0) url('Images/podcast.jpg') center center / cover no-repeat local content-box;
}

.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    padding-top: 82%;
    left: 1rem;
}

.carousel::after,
.carousel__next {
    padding-top: 82%;
    right: 1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px 1px;
    font-size: 8rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    content: "\276C";
}

.carousel::after {
    content: "\276D";
}

.carousel__news {
    display: flex;
    width: 100%;
    height: 100%;
    padding: auto;
    align-items: stretch;
    justify-content: center;
    /* margin-top will break firefox! */
    padding-top: 40%;
    color: rgb(255, 255, 255);
    font-family: Headway;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-shadow: rgb(0, 0, 0) 2px 2px 3px;
    /* Text size settings found in styles.css @media */
}

.carousel__news a:link,
.carousel__news a:visited,
.carousel__news a:hover,
.carousel__news a:active {
    z-index: 1;
    color: rgb(255, 255, 255);
    font-family: Headway;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-shadow: rgb(0, 0, 0) 2px 2px 3px;
    text-decoration: none;
}